.env

# Misskey
misskey/.config
misskey/db
misskey/files
misskey/redis
misskey/backup

# MusicBot
musicbot/data

# Roundcube
roundcube/db

# Mastodon
mastodon/postgres
mastodon/public
mastodon/redis
mastodon/.env.production
mastodon/backup

# addchan
addchan/.env

# nostr
nostr/config.toml

# dtv
dtv

# inubot
inubot/.env
inubot/data

# mastodon
mastodon/backup
mastodon/postgres
mastodon/.env.production

# mi.yude.moe-db-replica
mi.yude.moe-db-replica/.env
mi.yude.moe-db-replica/postgresql.conf
mi.yude.moe-db-replica/db

# gitea
gitea/data

# vscode
.vscode

# nextcloud
nextcloud/data

# nostr
nostr/data

# minecraft
minecraft/paper/plugins
minecraft/waterfall/plugins
minecraft/db

# mstdn.soine.site
mstdn.soine.site/postgres
mstdn.soine.site/public
mstdn.soine.site/redis
mstdn.soine.site/.env.production

# roundcube-soine-site
roundcube-soine-site/db

# soine
soine/data