version: '3.9'
services:
  piping-server:
    image: nwtgck/piping-server
    restart: unless-stopped
  
  cloudflared:
    image: cloudflare/cloudflared:latest
    user: root
    restart: always
    command: tunnel --no-autoupdate run --token $CLOUDFLARED_TOKEN
